<div>
  <div class="btn-group" role="group" aria-label="Catégorie de rentrée d'argent">
    <button ng-repeat="(id, category) in categories"
      class="btn"
      ng-style="{ 'background-color': category.color }"
      ng-click="$parent.selectedCategory = ($parent.selectedCategory == category ? '' : category)"
    >{{ $parent.selectedCategory == category ? '▼' : '▶' }} {{ category.label }}</button>
  </div>

  <div class="btn-group" role="group" aria-label="Nature de rentrée d'argent">
    <button ng-repeat="type in resourceTypes[selectedCategory.id]"
      class="btn"
      ng-style="{ 'background-color': selectedCategory.color }"
      ng-bind="type.label"
      ng-click="setType(type); $parent.selectedCategory = ''"
    ></button>
  </div>
</div>
