<div ng-repeat="resource in individu.resources">
  <ma-resource-input resource="resource"></ma-resource-input>
  <button ng-click="individu.removeResource(resource)"
    class="btn btn-xs btn-link"
    ng-repeat-end
  >Supprimer</button>
</div>

<div>
  <h3 ng-hide="newResource"
    ng-click="newResource = {}"
    ng-class="{
      'btn-primary': ! individu.hasResources(),
      'btn-default': individu.hasResources()
    }"
    class="btn btn-lg btn-block"
  >Déclarer un {{ individu.hasResources() ? 'autre' : '' }} revenu</h3>

  <ma-resource-select ng-show="newResource"
    resource="newResource"
    on-select="individu.addResource(resourceType); newResource = null"
  ></ma-resource-select>
</div>
