<div>
  <h2>Récapitulatif du scénario à tester</h2>

  <form method="post" name="form" class="form-horizontal" ng-submit="submit()">
    <div class="row form-group" ng-class="{'has-error': form.name.$invalid, 'has-success': form.name.$valid}">
      <label class="control-label col-md-3" for="test-name">Nom du test</label>
      <div class="col-md-6">
        <input
          type="text"
          name="name"
          class="form-control"
          id="test-name"
          ng-model="test.name"
          placeholder="Exemple : Les bourses de l'enseignement supérieur ne sont pas prises en compte dans les ressources"
          required>
      </div>
    </div>

    <div class="row form-group">
      <label class="control-label col-md-3" for="test-description">Description</label>
      <div class="col-md-6">
        <textarea name="description" rows="5" class="form-control" id="test-description" ng-model="test.description"></textarea>
      </div>
    </div>

    <h3>Valeurs attendues</h3>

    <p><button type="button" class="btn btn-default btn-xs" ng-click="test.expectedResults.push({}); showComputableInput.push(true)">
    Ajouter une {{ test.expectedResults.length ? 'autre' : '' }} prestation
    </button></p>
    <div ng-repeat="droit in test.expectedResults">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn btn-default btn-xs" ng-click="test.expectedResults.splice($index, 1)"><i class="fa fa-times"></i></button>
        </div>

        <div class="col-md-11">
          <div class="form-group">
            <label class="control-label col-md-3" for="droit-{{ $index }}">Prestation</label>
            <div class="col-md-8">
              <select
                id="droit-{{ $index }}"
                class="form-control"
                ng-options="possibleValue as possibleValue.label for possibleValue in possibleValues track by possibleValue.label"
                ng-model="droit.ref"
                ng-change="droitSelected(droit)">
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="droit.result">
        <div class="form-group">
          <label class="control-label col-md-4">Valeur obtenue</label>
          <div class="col-md-7">
            <p class="form-control-static"><b>{{ displayValueFor(droit.ref, droit.result) }}</b></p>
          </div>
        </div>
      </div>

      <div class="row" ng-if="droit.ref.uncomputability">
        <div class="form-group">
          <label class="control-label col-md-4" for="expected-value-{{ $index }}">
            La valeur doît-elle être calculable&nbsp;?
          </label>
          <yes-no-question model="droit.shouldCompute" />
        </div>
      </div>

      <div class="row" ng-if="droit.ref.uncomputability && (droit.shouldCompute === false)">
        <div class="form-group">
          <label class="control-label col-md-4" for="uncomputability-value-{{ $index }}">
            Quelle est la raison&nbsp;?
          </label>
          <div class="col-md-7">
            <select
              class="form-control"
              id="uncomputability-value-{{ $index }}"
              ng-options="uncomputabilityReasonId as displayValueFor(droit.ref, uncomputabilityReasonId) for (uncomputabilityReasonId, uncomputabilityReason) in droit.ref.uncomputability"
              ng-model="droit.expectedValue"
            ></select>
          </div>
        </div>
      </div>

      <div class="row" ng-if="droit.ref && ((! droit.ref.uncomputability) || droit.shouldCompute)">
        <div class="form-group">
          <label class="control-label col-md-4" for="expected-value-{{ $index }}">
            Valeur attendue
          </label>

          <div class="col-md-7" ng-if="droit.ref.hasMontant !== false">
            <div class="input-group">
              <input id="expected-value-{{ $index }}" class="form-control" name="expectedValueNumber" type="number" lang="fr" step="any" ng-model="droit.expectedValue" required>
              <span class="input-group-addon">{{ droit.ref.unit || '€' }}</span>
            </div>
          </div>
            <yes-no-question model="droit.expectedValue" ng-if="droit.ref.hasMontant === false"/>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" ng-disabled="submitting || (! test.expectedResults.length)" class="btn btn-primary">{{ submitLabel() }}</button>
    </div>
  </form>
</div>
