<ui-view id="resources-pane">
  <h1>Vos rentrées d'argent depuis {{ oneYearAgo | formatDate:'MMMM YYYY' }}</h1>
  <p class="help-block">Perçues en France et à l'étranger. Votre simulation sera plus précise si vous entrez des valeurs exactes.</p>

  <ma-resource-type-select ng-if="! type.id"
    type="type"
    on-select="$parent.newResource = createResource(type)"
  ></ma-resource-type-select>

  <ma-resource-input ng-if="newResource"
    resource="newResource"
    autofocus="true"
  ></ma-resource-input>

  <button type="submit"
    ng-show="newResource"
    ng-click="individu.addResource(newResource); newResource = null"
    class="btn btn-success"
  >Valider</button>

  <button ng-if="! individu.hasResources() && ! type.id"
    type="submit"
    ng-style="{ 'margin-top': '4em' }"
    ng-click="$state.go('foyer.pensionsAlimentaires')"
    class="btn btn-link center-block"
  >Je n’ai eu aucune rentrée d’argent depuis {{ oneYearAgo | formatDate:'MMMM YYYY'}}</button>

  <div ng-show="individu.hasResources() && type.id && ! newResource">
    <linechart data="chartableResources"
      options="options"
      height="200"
    ></linechart>

    <div class="text-center">
      <button ng-click="type = {}"
        class="btn btn-lg btn-primary"
      >Déclarer une autre rentrée d'argent</button>

      <button type="submit"
        ng-click="$state.go('foyer.pensionsAlimentaires')"
        class="btn btn-lg btn-success"
      >Lancer la simulation</button>
    </div>

    <div ng-repeat="resource in individu.resources"
      ng-style="{ 'margin-top': '2em' }">
      <ma-resource-input resource="resource" autofocus="false"></ma-resource-input>
      <button ng-click="individu.removeResource(resource)"
        class="btn btn-xs btn-link"
        ng-repeat-end
      >Supprimer</button>
    </div>
  </div>
</ui-view>
