<ui-view id="resources-pane">
  <h1>Vos rentrées d'argent</h1>
  <p class="help-block">Perçues en France et à l'étranger. Votre simulation sera plus précise si vous entrez des valeurs exactes.</p>

  <ma-resources-input individu="individu"></ma-resources-input>

  <linechart data="chartableResources"
    options="options"
    height="200"
    ng-show="individu.hasResources()"
  ></linechart>

</ui-view>

<div class="text-right">
  <button type="submit"
    ng-click="$state.go('foyer.pensionsAlimentaires')"
    ng-class="{
      'btn-success': individu.hasResources(),
      'btn-primary': ! individu.hasResources()
    }"
    class="btn btn-lg"
  >{{ individu.hasResources() ? 'Valider' : 'Je n’ai aucune rentrée d’argent' }}</button>
</div>
