<ui-view id="resources-pane">
  <h1>Vos revenus</h1>
  <p>Montants <strong>nets</strong> perçus en France comme à l'étranger. Votre simulation sera plus précise si vous entrez des valeurs exactes.</p>

  <ma-resources-input individu="individu"></ma-resources-input>

  <linechart data="chartableResources"
    options="options"
    height="200"
  ></linechart>

</ui-view>

<div class="text-right">
  <button type="submit"
    ng-class="{ 'btn-success': individu.hasResources() }"
    class="btn btn-lg"
  >Valider</button>
</div>
