<h1>Avez-vous l'un de ces statuts&nbsp;?</h1>

<form class="ui form" method="post" action="/logement">
    <div class="grouped inline fields">
        <label class="ui checkbox">
            <input type="checkbox" name="refugee">
            Réfugié
        </label>
        <label class="ui checkbox">
            <input type="checkbox" name="apatrid">
            Apatride
        </label>
        <label class="ui checkbox">
            <input type="checkbox" name="beneficiaireProtectionSubsidiaire">
            Bénéficiaire de la protection subsidiaire
        </label>
        <label class="ui checkbox">
            <input type="checkbox" name="combattantPourLaFrance">
            Ancien combattant pour la France
        </label>
    </div>

    <input class="ui submit button" type="submit" value="Valider"/>
</form>
